Ask the user to enter the name of a text file in which the information about the tasks in
a project and the dependencies among the tasks are stored and read the information
from the text file into the system.
• Add a new task with time needed to complete the task and other tasks that the task
depends on into the project.
• Remove a task from the project.
• Change the time needed to be completed.
• Save the (updated) information about the tasks and dependencies back to the opened
input text file.
• Find a sequence of the tasks that does not violate any task dependency and save the
sequence to a text file, namely, Sequence.txt. For example, for the above sample
project, the content in Sequence.txt should look like:
T1, T2, T7, T4, T5, T3, T6
• Find the earliest possible commencement time for each of the tasks in the project. and
save the solution into a text file, namely, EarliestTimes.txt. For example, for the above
sample project, the content in EarliestTimes.txt should look like:
T1, 0
T2, 100
T3, 260
T4, 100
T5, 190
T6, 260
T7, 0